.gm-style .gm-style-mtc label, .gm-style .gm-style-mtc div {
    font-weight: 400
}

.gm-style .gm-style-mtc ul, .gm-style .gm-style-mtc li {
    box-sizing: border-box
}
.gm-control-active > img {
    box-sizing: content-box;
    display: none;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}

.gm-control-active > img:nth-child(1) {
    display: block
}

.gm-control-active:hover > img:nth-child(1), .gm-control-active:active > img:nth-child(1) {
    display: none
}

.gm-control-active:hover > img:nth-child(2), .gm-control-active:active > img:nth-child(3) {
    display: block
}.gm-style .gm-style-cc a, .gm-style .gm-style-cc button, .gm-style .gm-style-cc span, .gm-style .gm-style-mtc div {
     font-size: 10px;
     box-sizing: border-box
 }
@media print {
    .gm-style .gmnoprint, .gmnoprint {
        display: none
    }
}

@media screen {
    .gm-style .gmnoscreen, .gmnoscreen {
        display: none
    }
}.gm-style-pbc {
     transition: opacity ease-in-out;
     background-color: rgba(0, 0, 0, 0.45);
     text-align: center
 }

.gm-style-pbt {
    font-size: 22px;
    color: white;
    font-family: Roboto, Arial, sans-serif;
    position: relative;
    margin: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}
.gm-style img {
    max-width: none;
}

.gm-style {
    font: 400 11px Roboto, Arial, sans-serif;
    text-decoration: none;
}
























body {
}

@media (min-width: 992px) {
    header.page-header-1 .navbar-nav > li > a,
    header.page-header-2 .navbar-nav > li > a {
        color: #000000;
    }
}

header .header-row {
    background: rgba(0, 0, 0, 0) url("../images/grey-bg-lg.png") repeat scroll 0 0;
}

/*--------   2.2 Header          --------*/
body.home header.page-header {
    position: absolute;
    background: none;
}

body:not(.home) {
    background: url("../images/header-photo-bg.jpg") no-repeat center 0;
}

@media (max-width: 991px) {
    #pageTitle {
        background: url("../images/header-photo-bg.jpg") repeat 0;
        background-size: cover;
    }
}

body:not(.home) #pageContent {
    padding-top: 100px;
}

@media (min-width: 992px) {
    body:not(.home) #pageContent {
        padding-top: 120px;
    }
}

h2 {
    color: #000;
}

h4 {
    color: #000;
}

h5 {
    color: #000;
}

a {
}

a:hover {
}

.car_repair_services_wc_products_tab.vc_tta.vc_tta-style-classic .vc_tta-tab a {
}

.widget-title, .title-contact-info, .widgettitle {
    color: #000;
}

body {
}

/*anchor*/

dl, dd, a {
}

a:hover, h1 a:hover, h2 a:hover, .column-right .side-block ul li a:hover {
}

/*heading*/
.loader-circle-2 {
    border-right-color: #ec3542;
}

.loader .line:nth-child(6), .loader .subline:nth-child(11) {
    background: #ec3542;
}

.loader .needle:before {
    border-color: transparent #ec3542 transparent transparent;
}

h1, h2.h-lg, .modal-header a:hover {
}

.block.bg-1 h1, .block.bg-2 h1, .block.bg-3 h1, .block.bg-1 h2, .block.bg-2 h2, .block.bg-3 h2, .block.bg-1 h3, .block.bg-2 h3, .block.bg-3 h3, .black-bg-color h2.h-lg,
.banner-under-slider h2, .banner-under-slider h3,
.banner-under-slider h4, .block.bg-dark h1, .block.bg-dark h2, .block.bg-dark h3,
.page-footer .footer-phone, .page-footer .footer-phone h2 {
}

.side-block {
    border-bottom: 1px solid #ec3542;
}

.vc_toggle, .divider-line {
    border-top: 1px solid #ec3542;
}

.promo-banner {
    border: 2px dotted #ec3542;
}

.quote-simple {
    border-left: 4px solid #ec3542;
}

.color, a.color, a.color:hover, a.color:focus,
.filters-by-category ul li a:hover,
.filters-by-category ul li a.selected,
.blog-post .post-meta li i.icon,
#appointmentForm.modal .modal-dialog .modal-header .close,
.slick-prev:hover:before, .slick-next:hover:before, .reply a {
}

.block.bg-1, .block.bg-2, .block.bg-3,
block.bg-1 a, .block.bg-2 a, .block.bg-3 a, .banner-under-slider,
.services-angle-text h5, header .header-phone, header .header-right .address {
}

.text-icon .icon-wrapper > span i {
}

.vertical-tab-menu .list-group > a i.icon,
.stat-box .icon, .contact-info > .icon, .social-links ul li a,
.category-list > li:after, .services-block-alt .services-link, .promo-banner .icon-lg, .page-footer .contact-info .icon,
.page-footer .social-links ul li a, .breadcrumbs .breadcrumb a:hover,
.link a,
.post-preview .post-title a:hover {
}

@media (max-width: 991px) {
    #slide-nav #slidemenu .close-menu,
    header.page-header .navbar-toggle {
    }
}

a:hover, h1 a:hover, h2 a:hover, .column-right .side-block ul li a:hover {
}

/*heading*/
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
}

h1 b, h2 b, h3 b, h3 b {
}

.back-to-top a,
.services-block .image,
.services-angle-text .number,
.text-icon .icon-wrapper > span,
.testimonials-item, td#today,
.service-icon .icon-wrapper span,
.services-block-alt .image i, .image-scale-color:after, .text-icon-sm .icon-wrapper > span,
.woocommerce #slide-nav #slidemenu.slide-active .search-container button.button,
.service-icon .icon-wrapper .fack_icon_div, .services-block-alt .image .fack_icon_div,
body .search-container:hover .button,
.calendar_wrap td#today {
    background-color: #ec3542 !important;
}

header .heade-mobile .search-container .button:hover {
    color: #ec3542;
}

body .services-block-alt .image i, .services-block-alt .image .fack_icon_div {
    -webkit-box-shadow: 0 0 0 20px #ec3542;
    -moz-box-shadow: 0 0 0 20px #ec3542;
    box-shadow: 0 0 0 20px #ec3542;
}

.services-block-alt .image:hover i, .services-block-alt .image:hover .fack_icon_div {
    -webkit-box-shadow: 0 0 0 0px #ec3542;
    -moz-box-shadow: 0 0 0 0px #ec3542;
    box-shadow: 0 0 0 0px #ec3542;
}

header.page-header .appointment, header.page-header .appointment:after, .modal-header .appointment:after {
    border-color: transparent #ec3542 transparent transparent;
}

.input-custom:hover,
.input-custom:focus,
.input-custom.focus,
.table .cell-marker,
.coupon-print-inside {
    border-color: #ec3542;
}

header.page-header .appointment, .modal-header .appointment, .table .cell-marker {
    background-color: #ec3542;
}

.color, a.color, a.color:hover, a.color:focus,
.services-block .service.dark h2, .services-block .service.dark h3,
.services-block .service.dark h4, header.page-header-1 .header-phone .phone-number .code,
.marker-list > li:after, header.page-header-1 .header-right .address span,
.testimonials-item .inside .rating, .services-block-alt .caption .title,
.testimonial-card:after, .icon-star:before,
blockquote::before {
    color: #ec3542;
}

.page-footer .footer-phone .number {
    color: #ec3542;
}

/*Menu Color*/
@media (min-width: 992px) {
    header.page-header-1 .navbar-nav > li > a:after {
        background-color: #ec3542;
        color: #000000;
    }
}

/*Slider Color*/

#mainSlider .slide-content h4,
#mainSlider .slide-content p {
}

#mainSlider .slide-content h3 {
    color: #ec3542;
}

#mainSlider .slick-prev:before,
#mainSlider .slick-next:before {
}

#mainSlider .slick-prev:hover:before,
#mainSlider .slick-next:hover:before {
}

.slick-dots li.slick-active button,
.slick-dots li.slick-active button:hover {
}

/*Button*/

.btn:before, .btn:after, .column-right .widget_search button:hover, input[type="submit"]:hover,
.tags-list li a:hover, .tagcloud a:hover {
}

.view-more-testimonial:hover {
    background-color: #2c2c2c !important;

}

button#place_order,
.btn-invert {
    background: #ec3542;
}

.btn-lg.btn-invert.view-more-testimonial {
    background-color: #ec3542;
}

.blog-post a.more-link:before, .blog-post a.more-link:after {
    background-color: #ec3542 !important;
}

.btn.btn-border {
    border-color: #2c2c2c;
}

.btn:hover, .btn.active, .btn:active, .btn.focus, .btn:focus {
}

.btn-invert:hover, .btn-invert.active, .btn-invert:active, .btn-invert.focus, .btn-invert:focus {
}

.btn::before, .btn::after {
}

.btn.btn-invert::before, .btn.btn-invert::after {
}

.btn.btn-lg.btn-full.false-submit {
    background-color: #ec3542 !important;
    color: #ec3542 !important;
}

.btn.btn-lg.btn-full.false-submit:hover {
    background-color: #ec3542 !important;
    color: #ec3542 !important;
}

.btn.btn-lg.btn-full.false-submit span {
    color: #ec3542 !important;
}

.btn.btn-lg.btn-full.false-submit:hover span {
    color: #ec3542 !important;
}

.btn::before, .btn::after, .column-right .widget_search button:hover, input[type="submit"]:hover, .tags-list li a:hover,
#slide-nav #slidemenu.slide-active .search-container .button, .tagcloud a:hover {
    background: #ec3542 !important;
}

@media (max-width: 991px) {
    .header-info-toggle [class*='icon-']:hover {
    }
}

.coupon-text4 {
}

.coupon-text5 {
}

.coupon .coupon-all::after {
}

.coupon .coupon-all {
}

.coupon-print-inside {
}

.coupon .coupon-all {
}

.coupon-text2 {
}

.coupon .coupon-all:hover::after {
}

.coupon .coupon-all:hover {
}

header .header-cart:hover a.icon, header .header-cart.opened a.icon {
    color: #ec3542 !important;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background-color: #ec3542;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: #ec3542;
}

.woocommerce span.onsale, header .header-cart .badge {
    background-color: #ec3542;
}

.woocommerce .star-rating span::before, .woocommerce .comment-form p.stars a, .woocommerce-tabs .tabs.wc-tabs li.active a {
    color: #ec3542 !important;
}

.wc-tabs > li > a::after {
    background: #ec3542 !important;
}

.woocommerce-pagination .page-numbers .page-numbers.current,
.woocommerce nav.woocommerce-pagination ul li a:focus,
body.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    color: #ec3542 !important;
}

.filters-row .page-numbers .current {
    background-color: transparent !important;
    color: #fede00;
}

header.page-header-2 a.appointment:after {
    border-color: transparent #ec3542 transparent transparent;
}

header.page-header-2 a.appointment {
    background-color: #ec3542;
}

@media (min-width: 992px) {
    header.page-header-2 .navbar-nav > li.current-menu-item > a:after, header.page-header-2 .navbar-nav > li:hover > a:after {
        background-color: #ec3542;
    }
}

header.page-header-2 .search-container:hover .button {
    background-color: #ec3542;
}

#mainSlider .banner-btn, #mainSlider .banner-btn:focus {
    border: 2px solid #ec3542;
}

.services-tabs .services-tabs-icons > span.active {
    background-color: #ec3542;

}

.icons-tabs .nav-tabs > li.active > a [class*='icon-'], .icons-tabs .nav-tabs > li > a:hover [class*='icon-'] {
    color: #ec3542;

}

.icons-tabs .nav-tabs > li > a::after {
    background: #ec3542;

}

.marker-list-sm-1 > li:after {
    color: #ec3542;

}

.how-works-number {
    color: #ec3542;

}

.banner-free .banner-text-1 {
    background-color: #ec3542;

}

.banner-free .banner-text-1:after {
    border-color: #ec3542 transparent transparent transparent;
}

.pricing-box-header {
    background-color: #ec3542;

}

.text-icon-hor2 .icon-wrapper2 {
    color: #ec3542;

}

#appointmentForm.modalform-sm .wpcf7-submit.btn {
    border-color: #ec3542;

}

body .textarea-custom:hover,
body .textarea-custom:focus,
body .input-custom:hover,
body .input-custom.focus,
body .wpcf7-form-control.wpcf7-textarea:hover,
body .wpcf7-form-control.wpcf7-textarea:focus {
    border-color: #ec3542 !important;

}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #ec3542 !important;

}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    border-color: #ec3542;
}

@media (min-width: 992px) {
    header.page-header-2 .navbar-nav .dropdown-menu {
        border-bottom-color: #ec3542;
    }
}

.pricing-box-footer .mark-icon {
    color: #ec3542;

}

@media (max-width: 991px) {
    header.page-header-2 .navbar-toggle:hover {
        color: #ec3542;

    }
}

.filters-row .page-numbers .current {
    color: #ec3542;

}

.estimator-panel .col-title [class*='icon'] {
    color: #ec3542;

}

.service-grid-item:hover .service-grid-item-title {
    background-color: #ec3542;

}

.service-grid-item-title:after {
    border-color: transparent transparent #ec3542 transparent;
}

@media (max-width: 767px) {
    .estimator-panel .panel-toggle {
        color: #ec3542;

    }
}

.car-faq-text .vc_toggle_title:hover h4 {
    color: #ec3542;

}

.filters-by-category ul li a:hover, .filters-by-category ul li a.selected {
    color: #ec3542;

}

.filters-by-category ul li a:after {
    background-color: #ec3542;

}

.twentytwenty-handle {
    background-color: #ec3542;

}

.section-blog .item .item__img .icon {
    background-color: #ec3542;

}

.slick-dots li.slick-active button, .slick-dots li.slick-active button:hover {
    background: #ec3542;

}

.block-title .title-separator {
    background-color: #ec3542;

}

.block-title .title-separator:before, .block-title .title-separator:after {
    background-color: #ec3542;

}

.faq-accordion .faq__title:before {
    background-color: #ec3542;

}

.info02 .info02__icon {
    color: #ec3542;

}

.blog-post .post-meta li.author .author__text {
    color: #ec3542;

}

.promo01 .promo01-header {
    background-color: #ec3542;

}

.promo01 .promo01-content .text-02 {
    color: #ec3542;

}

.services-block-alt .caption .title a:hover {
    color: #ec3542;

}

.services-block-alt:before {
    background-color: #ec3542;

}

.nav-pills > li.active > a {
    color: #ec3542 !important;

}

.nav-aside ul li a:before {
    background-color: #ec3542;

}

.address-info .address-info__icon {
    color: #ec3542;

}

.services-box .services-box__icon {
    color: #ec3542;

}

.card01 .card01__wrapper:before {
    background-color: #ec3542;

}

.card01 .card01__title a:hover {
    color: #ec3542;

}

.card01 .card01__social-icon li a:hover {
    background-color: #ec3542;

}

.marker-list-sm > li:after {
    color: #ec3542;

}

.promo-01 .promo-01__title .text-02 {
    color: #ec3542;

}

.box01 .box01__icon:before {
    background-color: #ec3542;

}

.promo02 .promo02__marker {
    color: #ec3542;

}

.stat-box02 .stat-box02__value {
    color: #ec3542;

}

.text-icon:before {
    background-color: #ec3542;

}

.video-block .video-block__icon span {
    background-color: #ec3542;

}

.stat-box02 .stat-box02__value:before {
    background-color: #ec3542;

}

.pricing-box02:before {
    background-color: #ec3542;

}

.pricing-box02.slick-center .pricing-box02__price, .pricing-box02.item-active .pricing-box02__price {
    color: #ec3542;

}

.newsbox .newsbox__title a:hover {
    color: #ec3542;

}

.newsbox .newsbox__data .icon-marker {
    background-color: #ec3542;

}

.newsbox .newsbox__link:hover {
    color: #ec3542;

}

.box-custom01 .box-custom01__icon .icon {
    color: #ec3542;

}

.video-wrapper .video-block__icon span {
    background-color: #ec3542;

}

.services-tabs .services-tabs-nav > li a:before {
    background-color: #ec3542;

}

.start-box02 .start-box02__text {
    border-color: #ec3542;
}

.pt-slick-button .slick-arrow:hover {
    color: #ec3542;

}

.banner-service .banner-text-3 i.icon {
    color: #ec3542;
}

.services-title .title-separator {
    background-color: #ec3542;

}

.estimate-current-change {
    color: #ec3542;
}

.estimate-part-price-price {
    color: #ec3542;
}

.estimate-part-close {
    color: #ec3542;
}

.estimate-table-info-list .round-icon {
    color: #ec3542;
    border-color: #ec3542;
}

.estimator-panel .form-group label a, div.rwmb-input .form-group label a {
    color: #ec3542;
}

#fullServices.modal .modal-header .close {
    color: #ec3542;
}

.services-title .title-separator:before, .services-title .title-separator:after {
    background-color: #ec3542;

}

<!--
Custom-color fix

-->
.btn:not([data-action]).btn-border {
    border-color: #ec3542;
}

.social-links ul li a {
    color: #ec3542;
}

.gallery-item .hover .view:before {
    border-color: #ec3542;
}

@media (max-width: 991px) {
    header .heade-mobile .navbar-toggle:hover span {
        background-color: #ec3542;
    }
}

@media (max-width: 991px) {
    .header-info-toggle [class*='icon-']:hover {
        color: #ec3542;
    }
}

#appointmentForm.modal .modal-dialog .modal-header .close {
    color: #ec3542;
}

.btn-invert:before, .btn-invert:after {
    background-color: #2c2c2c !important;
}









